DJANGO_SECRET_KEY=rofkgkvkkskbiovkdsokx305959399695939r8yogkffkjcjrvjkekviividisicivi829r8g7fo ofpbog9coo28hogodojo8b8 8g8ob88b8f8n8mg838viaapogg iciviv
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
FLW_SECRET_HASH=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
